[submodule "PyTorch/Translation/Transformer/cutlass"]
	path = PyTorch/Translation/Transformer/cutlass
	url = https://github.com/NVIDIA/cutlass.git

[submodule "tensorrt-inference-server"]
        url = https://github.com/NVIDIA/tensorrt-inference-server.git
        path = tensorrt-inference-server
        branch = r19.06

