[submodule "PyTorch/Translation/Transformer/cutlass"]
    path = PyTorch/Translation/Transformer/cutlass
    url = https://github.com/NVIDIA/cutlass.git
[submodule "PyTorch/SpeechRecognition/Jasper/external/tensorrt-inference-server"]
    path = PyTorch/SpeechRecognition/Jasper/external/tensorrt-inference-server
    url = https://github.com/NVIDIA/tensorrt-inference-server.git
    branch = r19.06
