.DS_Store
.ipynb_checkpoints
node_modules
/.bazelrc
/.tf_configure.bazelrc
/bazel-*
/bazel_pip
/third_party/eigen3/mkl_include
/third_party/mkl/*
/tools/python_bin_path.sh
/tools/git/gen
/pip_test
/_python_build
*.pyc
__pycache__
*.swp
.vscode/
\.idea/
venv/

# Git Directories
tf-models/

# Debug Dirs
profiling/
nvtx_plugins/
nsys/

# Data Directories
data_dir/

# Pretrained Weights Dir
weights/mask-rcnn/1555659850/*
weights/resnet/resnet-nhwc-2018-02-07/*
weights/resnet/resnet-nhwc-2018-10-14/*
weights/resnet/extracted_from_maskrcnn/*
!weights/mask-rcnn/.gitkeep
!weights/mask-rcnn/1555659850/.gitkeep
!weights/mask-rcnn/1555659850/ckpt/.gitkeep
!weights/mask-rcnn/1555659850/variables/.gitkeep
!weights/resnet/.gitkeep
!weights/resnet/extracted_from_maskrcnn/.gitkeep
!weights/resnet/resnet-nhwc-2018-02-07/.gitkeep
!weights/resnet/resnet-nhwc-2018-10-14/.gitkeep
