# SPDX-License-Identifier: Apache-2.0
pmdarima==1.8.0
matplotlib==3.3.2
wget==3.2
hydra-core==1.1.1
pyunpack==0.2.2
py7zr==0.15.0
patool==1.12
tensorboard
optuna
optuna-dashboard
mlflow==1.23.1
pandas==1.4.3
tables
einops==0.4.0
opt-einsum==3.3.0
pykeops==1.5
gdown==4.7.1
xgboost==1.7.3
wandb
