[submodule "sample/fastertransformer_bert/bert"]
	path = sample/tensorflow_bert/bert
	url = https://github.com/google-research/bert.git

[submodule "OpenNMT-tf"]
	path = OpenNMT-tf
	url = https://github.com/OpenNMT/OpenNMT-tf
