.idea
__pycache__

checkpoint/tb_logs/*
checkpoint/*.hdf5
checkpoint/*.csv
!checkpoint/tb_logs/.gitkeep

#data/*
/data/**/*.png
/data/**/*.jpg
/data/**/*.nii
!data/**/.gitkeep

data_preparation/verify_preprocess_data.ipynb
old_data_preperation/
others/
**/outputs