BasedOnStyle: LLVM 
IndentWidth: 2
ColumnLimit: 80
ContinuationIndentWidth: 4
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: true
BreakBeforeBraces: Custom 
BraceWrapping:
  AfterEnum: true 
  AfterStruct: true
  AfterClass: true
  AfterControlStatement: false
  AfterFunction: true
  AfterNamespace: true
  AfterUnion: true
  AfterExternBlock: false 
  BeforeElse: false
  IndentBraces: false
  SplitEmptyRecord: true
# BreakInheritanceList: AfterColon
DerivePointerAlignment: false
PointerAlignment: Left 
AlignAfterOpenBracket: AlwaysBreak
NamespaceIndentation: None
SpaceBeforeParens: true
# SpaceBeforeRangeBasedForLoopColon: true
# SpaceBeforeInheritanceColon: true
AlwaysBreakTemplateDeclarations: true
BreakBeforeBinaryOperators: true 
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
